/* Font colors */


/* Background colors */



$vi-primary-color: #9C27B0;
$vi-body-bg-color: #F3E5F5;
$vi-jumbotron-bg-color: rgba(225, 190, 231, 0.35);
$vi-btn-success-bg: #AB47BC;
$vi-btn-success-bg-hover: #7B1FA2;